body {
    background-image: url("includes/images/background.png");
    font-family: 'Gentium Book Basic';
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body:hover {
    cursor: default;
}

/* --------------------------------------------------  -------------------------------------------------- */

/* ------------------------------------------------ MISC ------------------------------------------------ */
.textButton:hover {
    cursor: pointer;
    color: #e3e3e3;
}

/* ------------------------------------------- NAVIGATION BAR ------------------------------------------- */
#navBar {
    background-color: #000;
    box-shadow: 0px -4px 10px #808080 inset; 
    color: #fff;
    width: 100%;
    height: 30px; 
    position: absolute; 
    left: 0px;
    right: 0px;
    top: 0px; 
    z-index: 10;
}
.navBarText {
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    top: 5px;
}
#version {
    color: #808080;
    padding: 5px 10px 5px 5px; 
    float: left;
}

/* ---------------------------------------------- RESETTING --------------------------------------------- */
#resetConfirmWindow {
    background: url("includes/images/tutorialWindow.png");
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    width: 285px;
    height: 190px;
    z-index: 100;
    margin: auto;
}
#resetConfirmWindowTitle {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 3px;
    top: 3px;
    width: 279px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
#resetConfirmWindowDescription {
    font-size: 16px;
    color: #fff; 
    position: absolute;
    left: 4px;
    top: 29px;
    width: 277px;
    height: 134px;
}
.resetConfirmWindowIndentText { padding-left: 36px; }
#resetConfirmWindowYesButton {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 6px;
    top: 165px;
    line-height: 22px;
}
#resetConfirmWindowYesButton:hover {
    color: #e3e3e3;
    cursor: pointer;
}
#resetConfirmWindowNoButton {
    font-family: 'Gentium Book Basic';
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    right: 6px;
    top: 165px;
    line-height: 22px;
}
#resetConfirmWindowNoButton:hover {
    color: #e3e3e3;
    cursor: pointer;
}

/* ---------------------------------------------- GAME AREA ---------------------------------------------- */
.gameArea {
    border-radius: 5px;
    border: 2px solid #000;
    z-index: 0;
    opacity: 1;
    left: 1%;
    margin: auto;
    position: absolute;
    top: 8.5%;
    bottom: 8.5%;
    right: 1%;
    
    background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #0062FF),
	    color-stop(1, #82D1FF)
    );
    background-image: -o-linear-gradient(bottom, #0062FF 0%, #82D1FF 100%);
    background-image: -moz-linear-gradient(bottom, #0062FF 0%, #82D1FF 100%);
    background-image: -webkit-linear-gradient(bottom, #0062FF 0%, #82D1FF 100%);
    background-image: -ms-linear-gradient(bottom, #0062FF 0%, #82D1FF 100%);
    background-image: linear-gradient(to bottom, #0062FF 0%, #82D1FF 100%);
}

#loadingArea {
    z-index: 1000;
}
#loadingText {
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    margin: auto;
    text-align: center;
    width: 75px;
}

.navBarWindow {
    background-image: url("includes/images/updatesWindow2.png");
    position: absolute;
    height: 600px;
    width: 500px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

/* ----------------------------------------------- UPDATES ---------------------------------------------- */
#updatesWindowTextArea {
    font-family: 'Gentium Book Basic';
    color: #fff;
    
    position: absolute;
    left: 4px;
    top: 22px;
    width: 491px;
    height: 575px;
    
    overflow-y: scroll;
    overflow-x: hidden;
}
.updatesWindowUpdateTitle {
    font-size: 16px;
    padding: 0px 1px 0px 1px;
}
.updatesWindowUpdate {
    font-size: 15px;
}
.updatesWindowUpdateIndent {
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}

/* --------------------------------------------- STATS AREA --------------------------------------------- */
#statsWindowStatsArea {
    position: absolute;
    left: 4px;
    top: 22px;
    width: 200px;
    height: 575px;
}
#statsWindowStatValuesArea {
    position: absolute;
    left: 205px;
    top: 22px;
    width: 291px;
    height: 575px;
}
.statsWindowLargeText {
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
}
.navBarWindowTitle {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 494px;
    height: 16px;
}
.statsWindowText {
    font-size: 15px;
    color: #fff;
}

/* ----------------------------------------------- OPTIONS ---------------------------------------------- */
#optionsWindowOptionsArea {
    color: #fff;
    position: absolute;
    left: 4px;
    top: 27px;
    width: 491px;
    height: 542px;
}
.optionsWindowOptionsTitle {
    text-align: center;
    font-size: 16px;
    
    height: 16px;
    width: 494px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.optionsWindowOption {
    text-align: center;
    font-size: 15px;
    
    height: 15px;
    width: 494px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.optionsWindowOption:hover {
    background-color: #000;
    color: #e3e3e3;
    cursor: pointer;
}

/* ------------------------------------------------ GOLD ------------------------------------------------ */
#goldAmount {
    position: absolute; 
    top: 0px;
    left: 625px; 
    
    font-family: 'Gentium Book Basic';
    font-size: 30px;
    color: #ffd800;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#gps {
    position: absolute; 
    top: 30px;
    left: 625px; 
    
    font-family: 'Gentium Book Basic';
    font-size: 20px;
    color: #ffd800;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* ------------------------------------------------ ICONS ----------------------------------------------- */
.goldCoin {
    background-image: url("includes/images/goldCoin.png");
    background-size: 100%;
    position: absolute;
}
.expOrb {
    background-image: url("includes/images/expOrb.png");
    background-size: 100%;
    position: absolute;
}
.powerShard {
    background: url("includes/images/powerShard.png");
    background-size: 100%;
    position: absolute;
}

.bleedingIcon {
    background: url("includes/images/bleedingIcon.png");
    position: absolute; 
    top: 0px; 
    left: 325px; 
    width: 25px;
    height: 25px;
    z-index: 1;
}
.stackAmount {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 14px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff;
}
.burningIcon {
    background: url("includes/images/burningIcon.png");
    position: absolute; 
    top: 0px; 
    left: 325px; 
    width: 25px;
    height: 25px;
    z-index: 1;
}
.chilledIcon {
    background: url("includes/images/chilledIcon.png");
    position: absolute; 
    top: 0px; 
    left: 325px; 
    width: 25px;
    height: 25px;
    z-index: 1;
}

/* ---------------------------------------------- SMALL BAR --------------------------------------------- */
.smallBarArea {
    position: absolute; 
    width: 200px;
    height: 25px;
}
.smallBarBackground {
    background: url("includes/images/playerHealthBarBackground.png");
    position: absolute; 
    top: 1px; 
    left: 1px; 
    width: 198px;
    height: 23px;
}
.smallBar {
    position: absolute; 
    top: 1px; 
    left: 1px; 
    width: 198px;
    height: 23px;
}
.smallBarBorder {
    background: url("includes/images/healthBarBorder2.png");
    position: absolute; 
    width: 200px;
    height: 25px;
}
.smallBarText {
    position: absolute; 
    top: 0px;
    left: 0; 
    right: 0;
    margin: auto;
    width: 200px;
    height: 25px;
    text-align: center;
    
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#playerHealthBarArea {
    top: 10px; 
    left: 10px; 
}
#playerHealthBar {
    background: url("includes/images/playerHealthBar.png");
}

#resurrectionBarArea {
    top: 0px; 
    left: 120px; 
}
#resurrectionBar {
    background: url("includes/images/resurrectionBar.png");
}

#monsterHealthBarArea {
    top: 0px; 
    left: 120px; 
}
#monsterHealthBar {
    background: url("includes/images/monsterHealthBar.png");
}

/* --------------------------------------------- EVENTS AREA -------------------------------------------- */
#eventsArea {
    position: absolute;
    top: 40px;
    left: 10px;
    bottom: 10px;
    width: 25px;
    overflow: hidden;
}
.eventButton {
    background: url("includes/images/randomQuestButton2.png");
    position: absolute;
    bottom: 700px;
    left: 0;
    height: 25px;
    width: 25px;
}

/* ------------------------------------------------ BUFFS ----------------------------------------------- */
#buffsArea {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 200px;
    height: 500px;
}
.buffContainer {
    width: 200px;
    height: 15px;
    padding-bottom: 5px;
}
.buffIcon {
    background: url("includes/images/buffIcons.png") 15px 0;
    position: relative;
    left: 0px;
    top: 0px;
    width: 15px;
    height: 15px;
}
.buffBar {
    background: url("includes/images/buffBar.png");
    position: relative;
    left: 16px;
    top: -12px;
    width: 175px;
    height: 9px;
}

/* --------------------------------------------- BATTLE AREA -------------------------------------------- */
#battleArea{
    width: 440px;
    height: 140px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* ------------------------------------------ BATTLE LEVEL TEXT ----------------------------------------- */
#battleLevelText {
    position: absolute; 
    top: 600px;
    left: 525px; 
    width: 200px;
    height: 25px;
    text-align: center;
    z-index: 1; 
    opacity: 0;
    
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* ----------------------------------------------- EXP BAR ---------------------------------------------- */
#expBarArea {
    position: absolute; 
    bottom: 5px; 
    left: 0px; 
    right: 0px;
    margin: auto;
    width: 722px;
    height: 15px;
}
#expBarBackground {
    background: url("includes/images/expBarBackground2.png");
    position: absolute; 
    top: 1px; 
    left: 1px; 
    width: 720px;
    height: 13px;
}
#expBar {
    background: url("includes/images/expBar2.png");
    position: absolute; 
    top: 1px; 
    left: 1px; 
    width: 720px;
    height: 13px;
}
#expBarBorder {
    background: url("includes/images/expBarBorder2.png");
    position: absolute; 
    width: 722px;
    height: 15px;
}
#expBarText {
    position: absolute; 
    top: -5px;
    left: 0; 
    right: 0;
    margin: auto;
    width: 722px;
    height: 22px;
    text-align: center;
    
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* --------------------------------------------------  -------------------------------------------------- */
#levelUpButton {
    bottom: 25px; 
    left: 0px; 
    right: 0px;
    z-index: 1; 
    margin: auto;
}

/* ----------------------------------------------- BUTTONS ---------------------------------------------- */
.stoneButton1 {
    font-family: 'Gentium Book Basic';
    font-size: 20px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    line-height: 25px;
    
    background: url("includes/images/stoneButton1.png");
    position: absolute; 
    width: 200px;
    height: 25px;
    z-index: 2; 
}

.battleLevelButton {
    font-family: 'Gentium Book Basic';
    font-size: 40px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    line-height: 25px;
    
    background: url("includes/images/battleLevelButton.png") 0 0;
    position: absolute; 
    top: 30px; 
    left: 90px; 
    width: 25px;
    height: 25px;
    z-index: 1;
}

#attackButton {
    background: url("includes/images/attackButtons.png") 0 0;
    position: absolute;
    left: 195px;
    top: 90px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.characterWindowButton {
    background: url("includes/images/windowButtons.png") 0 78px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 39px;
    height: 39px;
}
.mercenariesWindowButton {
    background: url("includes/images/windowButtons.png") 0 117px;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 39px;
    height: 39px;
}
.upgradesWindowButton {
    background: url("includes/images/windowButtons.png") 0 0;
    position: absolute;
    right: 10px;
    top: 90px;
    width: 39px;
    height: 39px;
}
#upgradesWindowButtonGlow {
    background: url("includes/images/windowButtons.png") 78px 0;
    position: absolute;
    right: 10px;
    top: 90px;
    width: 39px;
    height: 39px;
    opacity: 0;
}
.questsWindowButton {
    background: url("includes/images/windowButtons.png") 0 195px;
    position: absolute;
    right: 10px;
    top: 130px;
    width: 39px;
    height: 39px;
}
#questsWindowButtonGlow {
    background: url("includes/images/windowButtons.png") 78px 195px;
    position: absolute;
    right: 10px;
    top: 130px;
    width: 39px;
    height: 39px;
    opacity: 0;
}
.craftingWindowButton {
    background: url("includes/images/windowButtons.png") 0 156px;
    position: absolute;
    right: 10px;
    top: 170px;
    width: 39px;
    height: 39px;
}
.inventoryWindowButton {
    background: url("includes/images/windowButtons.png") 0 39px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 39px;
    height: 39px;
}

/* ----------------------------------------------- WINDOWS ---------------------------------------------- */
windowArea {
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 8;
}
#inventoryWindow {
    background-image: url("includes/images/inventory2.png");
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 187px;
    height: 220px;
    z-index: 8;
}
#inventoryWindowTitle {
    font-size: 16px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute; 
    top: 3px; 
    left: 3px;
    width: 187px;
    height: 16px;
}
#inventoryWindowSellAllButton {
    font-size: 14px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    right: 4px;
    top: 203px;
}
#inventoryWindowSellAllButton:hover {
    color: #e3e3e3;
    cursor: pointer;
}

.closeButton {
    background: url("includes/images/closeButton.png");
    position: absolute;
    right: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
}
#characterWindow {
    background-image: url("includes/images/characterWindow2.png");
    background-size: 100%;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 187px;
    height: 391px;
    z-index: 8;
}
#characterWindowTitle {
    font-size: 16px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute; 
    top: 3px; 
    left: 3px;
    width: 181px;
    height: 22px;
}
#characterIconArea {
    position: absolute;
    left: 44px;
    top: 29px;
    width: 124px;
    height: 204px;
}
#statsArea {
    text-align: left;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    position: absolute;
    left: 3px;
    top: 206px;
    width: 181px;
    height: 182px;
    overflow: auto;
}
.statContainer {
    width: 206px;
    min-height: 12px;
}
.statNameContainer {
    width: 100px;
    float: left;
    min-height: 12px;
}
.statValueContainer {
    width: 100px;
    margin-left: 100px;
    min-height: 12px;
}

#mercenariesWindow {
    background-image: url("includes/images/upgradesWindow2.png");
    position: absolute;
    right: 50px;
    top: 10px;
    width: 187px;
    height: 391px;
    z-index: 8;
}
#mercenariesWindowTitle {
    font-size: 16px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute; 
    top: 3px; 
    left: 3px;
    width: 181px;
    height: 22px;
}
#mercenariesBuyArea {
    position: absolute;
    left: 3px;
    top: 22px;
    width: 181px;
    height: 366px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.buyButton {
    background: url("includes/images/buyButtonBase.png") 0 0;
    width: 164px;
    height: 46px;
}
.buyButton:hover { cursor: pointer; }
.buyButtonIcon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1px;
    top: 1px;
}
#footmanIcon { background: url("includes/images/bigIcons.png") 0 0 }
#clericIcon { background: url("includes/images/bigIcons.png") 200px 0 }
#commanderIcon { background: url("includes/images/bigIcons.png") 160px 0 }
#mageIcon { background: url("includes/images/bigIcons.png") 120px 0 }
#assassinIcon { background: url("includes/images/bigIcons.png") 80px 0 }
#warlockIcon { background: url("includes/images/bigIcons.png") 40px 0 }
.buyButtonArea {
    font-size: 14px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
    position: relative;
    left: 2px;
    top: 2px;
    width: 160px;
    height: 42px;
}
.mercenaryName {
    position: absolute;
    left: 41px;
}
.mercenaryCost {
    position: absolute;
    top: 14px;
    left: 53px;
}
.mercenaryAmount {
    position: absolute;
    top: 28px;
    left: 41px;
}

#upgradesWindow {
    background-image: url("includes/images/upgradesWindow2.png");
    position: absolute;
    right: 50px;
    top: 10px;
    width: 187px;
    height: 391px;
    z-index: 8;
}
#upgradesWindowTitle {
    font-size: 16px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute; 
    top: 2px; 
    left: 2px;
    width: 183px;
    height: 16px;
}
#upgradesBuyArea {
    position: absolute;
    left: 3px;
    top: 22px;
    width: 181px;
    height: 366px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#upgradeTextArea {
    font-size: 14px;
    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
    position: relative;
    left: 43px;
    top: 3px;
    width: 136px;
    height: 42px;
}

#questsWindow {
    background-image: url("includes/images/questsWindow2.png");
    background-size: 100%;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 413px;
    height: 391px;
    z-index: 8;
}
#questsWindowTitle {
    font-size: 16px; 
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute; 
    top: 3px; 
    left: 3px;
    width: 407px;
    height: 16px;
}
#questNamesArea {
    position: absolute;
    left: 3px;
    top: 22px;
    width: 407px;
    height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.questName {
    font-size: 16px; 
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    width: 388px;
    height: 16px;
    padding: 1px 1px 1px 1px;
}
.questName:hover {
    cursor: pointer;
    color: #e3e3e3; 
}
#questDisplayArea {
    position: absolute;
    left: 3px;
    top: 105px;
    width: 407px;
    height: 283px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#questTextArea {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    width: 388px;
    height: 286px;
}
#questTitle { font-size: 16px; padding: 1px 1px 1px 1px; }
#questGoal { font-size: 14px; padding: 1px 1px 1px 1px; }
#questProgress { font-size: 14px; padding: 1px 1px 1px 1px; }
#questDescription { font-size: 15px; padding: 1px 1px 1px 1px; }
#questReward { font-size: 15px; padding: 1px 1px 1px 1px; }
#questRewardText { font-size: 14px; padding: 1px 1px 1px 1px; }
#questGold { font-size: 14px; padding: 1px 1px 1px 1px; padding-left: 14px; }
#questExperience { font-size: 14px; padding: 1px 1px 1px 1px; padding-left: 14px; }

#statUpgradesWindow {
    background: url("includes/images/skillUpgradesWindow2.png");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 187px;
    height: 163px;
    margin: auto;
    z-index: 3;
}
#statUpgradesWindowTitle {
    font-size: 16px; 
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 3px;
    top: 3px;
    width: 181px;
    height: 16px;
    text-align: center;
}
#statUpgradeButtonsContainer {
    position: absolute;
    left: 3px;
    top: 22px;
    width: 181px;
    height: 138px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.statUpgradeButton {
    background: url("includes/images/buyButtonBase.png") 0 0;
    position: absolute;
    width: 164px;
    height: 46px;
    z-index: 10;
}
.statUpgradeNameContainer {
    position: absolute;
    left: 44px;
    top: 2px;
    width: 118px;
    height: 42px;
}
.statUpgradeName {
    font-size: 14px;
    color: #fff;
    
    width: 118px;
    height: 42px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.buttonIcon { 
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 3px;
}
.statIcon { background: url("includes/images/bigIcons.png") 0 40px; }

#abilityUpgradesWindow {
    background: url("includes/images/skillUpgradesWindow2.png");
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 187px;
    height: 163px;
    margin: auto;
    z-index: 3;
}
#abilityUpgradesWindowTitle {
    font-size: 16px; 
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 3px;
    top: 3px;
    width: 181px;
    height: 16px;
    text-align: center;
}
#abilityUpgradeButtonsContainer {
    position: absolute;
    left: 3px;
    top: 22px;
    width: 181px;
    height: 138px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.abilityUpgradeButton {
    background: url("includes/images/buyButtonBase.png") 0 0;
    position: absolute;
    width: 164px;
    height: 46px;
    z-index: 10;
}
.abilityUpgradeNameContainer {
    position: absolute;
    left: 44px;
    top: 2px;
    width: 118px;
    height: 42px;
}
.abilityUpgradeName {
    font-size: 14px;
    color: #fff;
    
    width: 118px;
    height: 42px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.rendIcon { background: url("includes/images/bigIcons.png") 0 120px; }
.rejuvenatingStrikesIcon { background: url("includes/images/bigIcons.png") 200px 120px; }
.iceBladeIcon { background: url("includes/images/bigIcons.png") 160px 120px; }
.fireBladeIcon { background: url("includes/images/bigIcons.png") 120px 120px; }

.itemTooltip {
    background-color: #000;
    border: 5px, 5px, 5px, 5px;
    border-color: #ffd800;
    border-style: groove;
    padding: 2px 2px 2px 2px;
    min-width: 200px;
    color: #fff;
}
#itemTooltipText {
    text-align: left;
}
.itemTooltipTitle { font-size: 18px; }
.itemTooltipType   { font-size: 14px; }
.itemTooltipStats1 { font-size: 16px; }
.itemTooltipStats2 { font-size: 14px; }
.itemTooltipSellValue { padding-left: 14px; font-size: 14px; }
.itemTooltipLevel { color: #808080; font-size: 12px; }
.itemTooltipUseInfo { color: #808080; font-size: 12px; }
.itemTooltipSellInfo { color: #808080; font-size: 12px; }
.itemCompareTooltipExtra { color: #808080; font-size: 12px; }

.greenText { color: #02ff00; }
.whiteText { color: #fff; }
.yellowText { color: #ffd800; }
.blueText { color: #0005ff; }
.purpleText { color: #b800af; }
.orangeText { color: #ff6a00; }

#otherTooltip {
    background-color: #000;
    border: 5px, 5px, 5px, 5px;
    border-color: #fff;
    border-style: groove;
    padding: 2px 2px 2px 2px;
    min-width: 200px;
    max-width: 300px;
}
.otherTooltipText {
    text-align: left;
    color: #fff;
}
#otherTooltipTitle {
    font-size: 18px;
}
#otherTooltipCooldown {
    position: absolute;
    font-size: 14px;
    right: 2px;
}
#otherTooltipLevel {
    font-size: 16px; 
}
#otherTooltipDescription { 
    font-size: 14px; 
}

#abilityUpgradeTooltip {
    background-color: #000;
    border: 5px, 5px, 5px, 5px;
    border-color: #fff;
    border-style: groove;
    padding: 2px 2px 2px 2px;
    min-width: 200px;
    max-width: 300px;
}
.abilityUpgradeTooltipText {
    text-align: left;
    color: #fff;
}
#abilityUpgradeTooltipTitle {
    font-size: 18px;
}
#abilityUpgradeTooltipCooldown {
    position: absolute;
    font-size: 14px;
    right: 2px;
}
.abilityUpgradeTooltipLevel {
    font-size: 16px; 
}
.abilityUpgradeTooltipDescription { 
    font-size: 14px; 
}

#basicTooltip {
    background-color: #000;
    border: 5px, 5px, 5px, 5px;
    border-color: #fff;
    border-style: groove;
    padding: 2px 2px 2px 2px;
}
#basicTooltipText {
    text-align: left;
    color: #fff;
    font-size: 16px;
}

#tutorialArea {
    position: absolute;
    width: 415px;
    height: 190px;
}
#tutorialWindow {
    background: url("includes/images/tutorialWindow.png");
    position: absolute;
    width: 285px;
    height: 190px;
}
#tutorialTitle {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 3px;
    top: 3px;
    width: 279px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
#tutorialDescription {
    font-size: 16px;
    color: #fff; 
    position: absolute;
    left: 4px;
    top: 29px;
    width: 277px;
    height: 134px;
}
#tutorialContinueButton {
    font-size: 20px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    right: 6px;
    top: 165px;
    line-height: 22px;
}
.tutorialRightArrow {
    background: url("includes/images/tutorialRightArrow.png");
    position: absolute;
    width: 100px;
    height: 57px;
}

#button:hover
{
    cursor: pointer;
}
.button:hover
{
    cursor: pointer;
}

#equipItem:hover {
    cursor: pointer;
}

.particle {
    position: absolute;
    width: 25px;
    height: 25px;
    white-space: nowrap;
}
.textParticle {
    font-size: 16px;
}




#checkboxWhite { left: 4px; }
#checkboxGreen { left: 18px; }
#checkboxBlue { left: 32px; }
#checkboxPurple { left: 46px; }
#checkboxOrange { left: 60px; }

.checkbox {
    position: absolute;
	width: 11px;
    top: 203px;
}
.checkbox label {
	cursor: pointer;
	position: absolute;
	width: 11px;
	height: 11px;
	top: 0;
  	left: 0;
	border: 2px solid #000;
    border-radius: 5px;
}
.backgroundWhite { background-color: #fff; }
.backgroundGreen { background-color: #02ff00; }
.backgroundBlue { background-color: #0005ff; }
.backgroundPurple { background-color: #b800af; }
.backgroundOrange { background-color: #ff6a00; }
.checkbox label:after {
    opacity: 0;
	content: '';
	position: absolute;
	width: 6px;
	height: 4px;
	top: 1px;
	left: 1px;
	border: 3px solid #000;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-55deg);
	-moz-transform: rotate(-55deg);
	-o-transform: rotate(-55deg);
	-ms-transform: rotate(-55deg);
	transform: rotate(-55deg);
}
.checkboxInput {
    display: none;
}
.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}